:root {
  background-color: #FFF3C7;
}

.Header{
  height: 200px;
  border-radius: 20px;
  background-color:#FFD6A5;
  }

  .Textheader {
   text-align: center;
   font-size: 90px;
  }
  .Container {
    display: flex;
    justify-content: center; 
    padding: 20px;
  }
  
  .Box {
    width: 80%;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px 0; 
  }
  
  .Gambar-Resep {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333; 
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  
  ul, ol {
    margin: 0;
    padding: 0 20px; 
    color: #666;
  }
  
  li {
    line-height: 1.6; 
    margin-bottom: 8px;
  }
  